.Card{
  border: 2px solid yellow;
  
  border-radius: 10px;
  font-size: 8px;
  margin-top: 10%;
  margin-bottom: 50px;
  margin: auto ;
  height:360px ;
  width: 250px;

}
.image{
  margin: auto ; 
 margin-top:9%;
 width:220px ;
 height:100px ;
  background-image: url(../images/fond-carte.jpg);
  background-size: cover;
}
.image  img {
  margin-left: 60px;
 height: 110px;
}
.name{
 
  margin-top: 10px ;
  margin-left : 0;
  float:left;
}
.level{
  float:right;
  margin-top: 10px;
  margin-right : 0px;
}
.header{
  width: 100%;
  height: 15px;
}
.AbIcon{
  float:left;
  margin-top: 0 ;
  margin-right : 0px;
}
.AbLevel{
  float:right;
  margin-top: 0 ;
  margin-left : 0px;
}
.AbName{
  margin-left:55px;
}
.abilities{
  word-wrap: break-word;
  margin-top: 15px 
}